In [13]:
import numpy as np
import pandas as pd

In [19]:
from numpy.random import randn,seed

In [20]:
seed(101) # seed for generating random number 
# i am using this to syncronyse my data with instructer

In [22]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [6]:
df['W'] #print W columns

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [7]:
type(df['W'])

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.W #other way of printing a column

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [11]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [12]:
# create a new column
df['New_Col']

KeyError: 'New_Col'

In [53]:
df['New_Col'] =  pd.Series(randn(5),df.index)
df

          W         X         Y         Z   New_Col
A  0.302665  1.693723 -1.706086 -1.159119 -1.467514
B -0.134841  0.390528  0.166905  0.184502 -0.494095
C  0.807706  0.072960  0.638787  0.329646 -0.162535
D -0.497104 -0.754070 -0.943406  0.484752  0.485809
E -0.116773  1.901755  0.238127  1.996652  0.392489

In [40]:
df.columns

Index(['W', 'X', 'Y', 'Z', 'New_Col'], dtype='object')

In [41]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [55]:
#drop new column
df.drop('New_Col',axis=1,inplace=True) # inplace=True make change in df else new dataframe is returned but actual datadframe is not changed
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [56]:
#drop a row
df.drop('E',axis=0)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [57]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [62]:
#print row
df.loc['A']

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [63]:
df.iloc[0]

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [64]:
#select row col
df.loc['A','X']

1.6937229252040349

In [65]:
#subset
df.loc[['A','B'],['X','W']]

          X         W
A  1.693723  0.302665
B  0.390528 -0.134841

In [69]:
df.iloc[:,1:3]

          X         Y
A  1.693723 -1.706086
B  0.390528  0.166905
C  0.072960  0.638787
D -0.754070 -0.943406
E  1.901755  0.238127

In [70]:
df.iloc[0:3,1:3]

          X         Y
A  1.693723 -1.706086
B  0.390528  0.166905
C  0.072960  0.638787