In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn,seed

In [20]:
seed(101) # seed for generating random number 
# i am using this to syncronyse my data with instructer

In [22]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [6]:
df['W'] #print W columns

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [7]:
type(df['W'])

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.W #other way of printing a column

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [11]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [12]:
# create a new column
df['New_Col']

KeyError: 'New_Col'

In [53]:
df['New_Col'] =  pd.Series(randn(5),df.index)
df

          W         X         Y         Z   New_Col
A  0.302665  1.693723 -1.706086 -1.159119 -1.467514
B -0.134841  0.390528  0.166905  0.184502 -0.494095
C  0.807706  0.072960  0.638787  0.329646 -0.162535
D -0.497104 -0.754070 -0.943406  0.484752  0.485809
E -0.116773  1.901755  0.238127  1.996652  0.392489

In [40]:
df.columns

Index(['W', 'X', 'Y', 'Z', 'New_Col'], dtype='object')

In [41]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [55]:
#drop new column
df.drop('New_Col',axis=1,inplace=True) # inplace=True make change in df else new dataframe is returned but actual datadframe is not changed
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [56]:
#drop a row
df.drop('E',axis=0)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [57]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [62]:
#print row
df.loc['A']

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [63]:
df.iloc[0]

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [64]:
#select row col
df.loc['A','X']

1.6937229252040349

In [65]:
#subset
df.loc[['A','B'],['X','W']]

          X         W
A  1.693723  0.302665
B  0.390528 -0.134841

In [69]:
df.iloc[:,1:3]

          X         Y
A  1.693723 -1.706086
B  0.390528  0.166905
C  0.072960  0.638787
D -0.754070 -0.943406
E  1.901755  0.238127

In [70]:
df.iloc[0:3,1:3]

          X         Y
A  1.693723 -1.706086
B  0.390528  0.166905
C  0.072960  0.638787

# Conditional Selection and multiple indexing

In [3]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A -0.010066  1.898057  0.551421  1.295242
B  0.566043 -1.383149 -0.587957  1.938913
C  1.118235 -0.824282 -0.834360 -0.540470
D  0.072048 -0.360571  0.970170  0.706256
E -0.444168  1.102980  0.393431 -0.177388

In [5]:
booldf = df> 0
booldf

       W      X      Y      Z
A  False   True   True   True
B   True  False  False   True
C   True  False  False  False
D   True  False   True   True
E  False   True   True  False

In [6]:
df[booldf] #or df[df>0]

          W         X         Y         Z
A       NaN  1.898057  0.551421  1.295242
B  0.566043       NaN       NaN  1.938913
C  1.118235       NaN       NaN       NaN
D  0.072048       NaN  0.970170  0.706256
E       NaN  1.102980  0.393431       NaN

In [7]:
df['W'] >0

A    False
B     True
C     True
D     True
E    False
Name: W, dtype: bool

In [8]:
df['W']

A   -0.010066
B    0.566043
C    1.118235
D    0.072048
E   -0.444168
Name: W, dtype: float64

In [9]:
df[df['W']>0] # return only those rows for which 'W' col value is greter than 0

          W         X         Y         Z
B  0.566043 -1.383149 -0.587957  1.938913
C  1.118235 -0.824282 -0.834360 -0.540470
D  0.072048 -0.360571  0.970170  0.706256

In [10]:
df[df['Z']<0] #only those rows are return for which 'Z' column has less than 0 value

          W         X         Y         Z
C  1.118235 -0.824282 -0.834360 -0.540470
E -0.444168  1.102980  0.393431 -0.177388

In [11]:
df[df['Z']<0]['X'] # #only those rows are return for which 'Z' column has less than 0 value then fillter and print only 'X; column

C   -0.824282
E    1.102980
Name: X, dtype: float64

In [13]:
df[df['Z']<0][['X','Y']]

          X         Y
C -0.824282 -0.834360
E  1.102980  0.393431

# Using multiple condition

We can use normal and for condition in pandas. becouse series does not support it as it make it ambigious.
so instead of and use '&' with brackets about both boolean, and instead of or use |

In [16]:
df[df['Z']<0 and df['X']<0][['X','Y']]  # and will not work here use & instead and use bracket

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [18]:
df[(df['Z']<0) & (df['X']<0)][['X','Y']]

          X        Y
C -0.824282 -0.83436

In [19]:
df[(df['Z']<0) | (df['X']<0)][['X','Y']]  #using or

          X         Y
B -1.383149 -0.587957
C -0.824282 -0.834360
D -0.360571  0.970170
E  1.102980  0.393431

# Reset index or setting to something else

In [21]:
df.reset_index() # then row index become a column and index reset to numericle values
#df.reset_index(inplace=True) use inplace operater for makinf this change in actual dataFrame

  index         W         X         Y         Z
0     A -0.010066  1.898057  0.551421  1.295242
1     B  0.566043 -1.383149 -0.587957  1.938913
2     C  1.118235 -0.824282 -0.834360 -0.540470
3     D  0.072048 -0.360571  0.970170  0.706256
4     E -0.444168  1.102980  0.393431 -0.177388

In [22]:
df # actual dataframe is not change as inplace operater is not set

          W         X         Y         Z
A -0.010066  1.898057  0.551421  1.295242
B  0.566043 -1.383149 -0.587957  1.938913
C  1.118235 -0.824282 -0.834360 -0.540470
D  0.072048 -0.360571  0.970170  0.706256
E -0.444168  1.102980  0.393431 -0.177388

In [25]:
# setting new index
new_id = 'IN CN BG NP pk'.split()
new_id

['IN', 'CN', 'BG', 'NP', 'pk']

In [27]:
df['States'] = new_id
df

          W         X         Y         Z States
A -0.010066  1.898057  0.551421  1.295242     IN
B  0.566043 -1.383149 -0.587957  1.938913     CN
C  1.118235 -0.824282 -0.834360 -0.540470     BG
D  0.072048 -0.360571  0.970170  0.706256     NP
E -0.444168  1.102980  0.393431 -0.177388     pk

In [28]:
df.set_index('States') # create  states column as index

               W         X         Y         Z
States
IN     -0.010066  1.898057  0.551421  1.295242
CN      0.566043 -1.383149 -0.587957  1.938913
BG      1.118235 -0.824282 -0.834360 -0.540470
NP      0.072048 -0.360571  0.970170  0.706256
pk     -0.444168  1.102980  0.393431 -0.177388

          W         X         Y         Z States
A -0.010066  1.898057  0.551421  1.295242     IN
B  0.566043 -1.383149 -0.587957  1.938913     CN
C  1.118235 -0.824282 -0.834360 -0.540470     BG
D  0.072048 -0.360571  0.970170  0.706256     NP
E -0.444168  1.102980  0.393431 -0.177388     pk

# Multi Index & Index Hirarchy

In [31]:
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1,2,3,1,2,3]
hire_index = list(zip(outside,inside))
hire_index = pd.MultiIndex.from_tuples(hire_index)

In [35]:
print(outside)
print(inside)
print(list(zip(outside,inside)))
print('\n__Multi Index __\n')
print(hire_index)

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
[1, 2, 3, 1, 2, 3]
[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

__Multi Index __

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [38]:
df = pd.DataFrame(randn(6,2),hire_index,['A','B'])
df

             A         B
G1 1  1.026223 -1.806357
   2 -0.748937  0.693239
   3  1.366922  0.745663
G2 1 -0.601860  1.006667
   2  1.318471  0.060147
   3  0.859074  0.927742

In [39]:
df.loc['G1']

          A         B
1  1.026223 -1.806357
2 -0.748937  0.693239
3  1.366922  0.745663

In [40]:
df.loc['G1'].loc[1] #g1 and 1st

A    1.026223
B   -1.806357
Name: 1, dtype: float64

In [41]:
df.index.names = ['Groups','Num'] # naming multilevel index names
df

                   A         B
Groups Num
G1     1    1.026223 -1.806357
       2   -0.748937  0.693239
       3    1.366922  0.745663
G2     1   -0.601860  1.006667
       2    1.318471  0.060147
       3    0.859074  0.927742

In [42]:
df.index.names

FrozenList(['Groups', 'Num'])

In [43]:
df.loc['G2'].loc[2]['B'] # print g2 row2 and column B

0.060146542052000332

# Cross section

In [44]:
df.xs

<bound method NDFrame.xs of                    A         B
Groups Num
G1     1    1.026223 -1.806357
       2   -0.748937  0.693239
       3    1.366922  0.745663
G2     1   -0.601860  1.006667
       2    1.318471  0.060147
       3    0.859074  0.927742>

In [45]:
df.xs('G1') #it can go under a group

            A         B
Num
1    1.026223 -1.806357
2   -0.748937  0.693239
3    1.366922  0.745663

In [46]:
df

                   A         B
Groups Num
G1     1    1.026223 -1.806357
       2   -0.748937  0.693239
       3    1.366922  0.745663
G2     1   -0.601860  1.006667
       2    1.318471  0.060147
       3    0.859074  0.927742

In [47]:
#print num =1 for both group
df.xs(1,level='Num')

               A         B
Groups
G1      1.026223 -1.806357
G2     -0.601860  1.006667